.cherry_block {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    z-index: 9999;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid #cf125e;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.cherry_block,
.cherry {
    /* display: none; */
}

.cherry_block:hover {
    transform: scale(1.1);
}

.cherry_block #cherry-icon {
    font-size: 20px;
}

.cherry_block #cherry-counter {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.cherry_block #send-btn {
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
}
