PORT=3000
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-smtp-login
SMTP_PASS=your-smtp-password
MAIL_FROM=no-reply@example.com
MAIL_TO=manager@example.com
MAIL_CC=
HOROSHOP_LOGIN=
HOROSHOP_PASSWORD=
HOROSHOP_AUTH_URL=https://marylash.pro/api/auth/
HOROSHOP_USERS_EXPORT_URL=https://marylash.pro/api/users/export/
